.basic-nav {
  min-height: 2.6em;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255,0.3) );
}
.basic-nav div a.about-link {
  text-decoration: none;
}
/*###############################################################*/
/*Hero Section*/
.hero-header-section {
  min-height:80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3) ),  url("https://images.pexels.com/photos/5077047/pexels-photo-5077047.jpeg?cs=srgb&dl=pexels-cottonbro-5077047.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h2#hero-headline {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 50px;
}
h2#hero-headline span.yellow-lemon {color: #dec800;}
p #hero-subheadline {
  font-family: 'Montserrat', sans-serif;
} 

a.getstarted-button {
  border: none;
  background-color: #dec800;
}

a.browsecollection-link:hover {
  color: gray;
  text-decoration: underline;
}


/*##################################################################*/
/*Benefit Section*/
article.benefit-section {
  min-height: 50vh;
}