section.lightBlue {
  background-color: #F7FBFD;
}
.greeting-message {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
}
/* Styling for thee form labels and little messages */
.thin-label { 
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
}
a#lemonyellow {
  background-color: #EEDC3C;
}

/* Styling for result style */